* {
    box-sizing: border-box;
}

h1{
    color: brown;
    text-align: center;
}

#supes{
    text-align: center;
    float: right;
    width: 20%;
    color: black;
    background-color: chocolate;
    border: 1px solid black;
    border-top-width: 0%;
    border-right-width: 0%;
}


#flash{
    text-align: center;
    float: right;
    width: 20%;
    color: chartreuse;
    background-color: cadetblue ;
    border: 1px solid black;
    border-top-width: 0%;
    border-right-width: 0%;
}


#bats{
    text-align: center;
    float: right;
    width: 20%;
    color: blueviolet;
    background-color: burlywood;
    border: 1px solid black;
    border-top-width: 0%;
    border-right-width: 0%;
}

.sections{
    background-color: darkgray;
    border: 1px solid black;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.sections p{
    margin-left: 2.5%;
    margin-right: 2.5%;
}
  
[class*="col-"] {
    float: left;
    padding: 15px;
}

/********** Desktop devices only **********/
@media (min-width: 992px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;  
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}
  
  
/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

/********** Mobile devices only **********/
@media (max-width: 767) {
    [class*="col-"] {
        width: 100%;
    }   
}